html,body,h1,h2,h3,h4,h5,h6 {font-family: "Roboto", sans-serif;}
.w3-sidebar {
  z-index: 3;
  width: 250px;
  top: 43px;
  bottom: 0;
  height: inherit;
}
.ha-replacement {
  text-decoration: none;
  font-style: italic;
  font-weight: bold;
}

p {
    font-size: 20px;
    text-align: justify;
}

pre {
    font-family: "courier new", courier, monospace;
    font-size: 20px;
}

code {
    font-family: "courier new", courier, monospace;
}

table {
    font-family: arial, sans-serif;
    border-collapse: collapse;
    width: 100%;
}

td, th {
    border: 1px solid #dddddd;
    text-align: left;
    padding: 8px;
}